## Importing libraries

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector
from sqlalchemy import create_engine

## Datasets

In [2]:
# Reading Dataset
netflix_ = pd.read_csv('Netflix.csv')

# Creating a copy to work with
netflix = netflix_.copy()

In [3]:
# Exploring Dataset
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
show_id         7787 non-null object
type            7787 non-null object
title           7787 non-null object
director        5398 non-null object
cast            7069 non-null object
country         7280 non-null object
date_added      7777 non-null object
release_year    7787 non-null int64
rating          7780 non-null object
duration        7787 non-null object
listed_in       7787 non-null object
description     7787 non-null object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [4]:
# Droping no interesting data
netflix = netflix.drop(columns = ['rating', 'duration', 'listed_in', 'description', 'director'])

In [5]:
netflix.head()

,show_id,type,title,cast,country,date_added,release_year
0,s1,TV Show,3%,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020
1,s2,Movie,7:19,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016
2,s3,Movie,23:59,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011
3,s4,Movie,9,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009
4,s5,Movie,21,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008

In [6]:
# Parse date_added column to datetime format 
netflix['date_added'] = pd.to_datetime(netflix['date_added'], errors = 'coerce')

# Replacing date_added for year
netflix['date_added'] = netflix.date_added.dt.year

In [7]:
# Droping rows with nan values
netflix.dropna(axis = 0, inplace = True)

In [8]:
# Checking there are not duplicated rows
duplicatedRows = netflix[netflix.duplicated()]
print(duplicatedRows)

Empty DataFrame
Columns: [show_id, type, title, cast, country, date_added, release_year]
Index: []

In [9]:
# Changing date_added type to int
netflix.date_added = netflix.date_added.astype('int64', errors = 'raise')

In [10]:
netflix.head()

,show_id,type,title,cast,country,date_added,release_year
0,s1,TV Show,3%,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,2020
1,s2,Movie,7:19,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016,2016
2,s3,Movie,23:59,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018,2011
3,s4,Movie,9,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017,2009
4,s5,Movie,21,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020,2008

In [11]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6649 entries, 0 to 7785
Data columns (total 7 columns):
show_id         6649 non-null object
type            6649 non-null object
title           6649 non-null object
cast            6649 non-null object
country         6649 non-null object
date_added      6649 non-null int64
release_year    6649 non-null int64
dtypes: int64(2), object(5)
memory usage: 415.6+ KB

In [12]:
netflix.to_csv('Clean_Netflix.csv')

In [ ]:
engine = create_engine('mysql+mysqldb://[user]:[pass]@[host]:[port]/[schema]', echo = False)
df.to_sql(name = 'my_table', con = engine, if_exists = 'append', index = False)

In [ ]:
# Replace the target strings
filedata = filedata.replace("America", "Europe")
filedata= filedata.replace("South America", "East Europe")

# Write the file out again
with open('Region.sql', 'w') as file:
  file.write(filedata)
file.close()

In [ ]:
connection = sqlite3.connect(":memory:")
Create the database in RAM

cursor = connection.cursor()

sql_file = open("sample.sql")
sql_as_string = sql_file.read()
cursor.executescript(sql_as_string)

for row in cursor.execute("SELECT * FROM airports"):
    print(row)

In [24]:
from sqlalchemy.types import Integer
netflix.to_sql('netflix.sql', con=engine, index=False, dtype={"A": Integer()})

ValueError: A (INTEGER) not a string

In [20]:
netflix.to_sql(, con = 'connection')

#DataFrame.to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None, method=None)[source]¶

ImportError: Using URI string without sqlalchemy installed.

In [23]:
engine = create_engine('mysql://', echo = False)
netflix.to_sql('Clean_Netflix.sql', con = engine)
#engine.execute("SELECT * FROM users").fetchall()
#[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

ModuleNotFoundError: No module named 'MySQLdb'